form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #ccc;
}
h1{
	text-align: center;
}
footer{
	font: bold;
	text-align: center;
}
label {
	display: block;
	margin-bottom: 5px;
}
input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}
th,
td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}
th {
	background-color: #007bff;
	color: #fff;
}
button[type="button"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}
button[type="button"]:hover {
	background-color: #0056b3;
}
/*
 * Author: Achraf Boudabous created: 28/10/2023
 */