<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMI List</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BMI Calculator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="bmi-list">Show All Records</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Weight</th>
          <th scope="col">Height</th>
          <th scope="col">BMI</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="bmi:${bmiList}">
          <td th:text="${bmi.id}"></td>
          <td th:text="${bmi.name}"></td>
          <td th:text="${bmi.weight}"></td>
          <td th:text="${bmi.height}"></td>
          <td th:text="${bmi.bmi}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>