<div class="center-content">
  <form action="#">
    <label for="name">Name :</label>
    <input class="form-inputs" type="text" name="name" id="name" />
    <label for="phoneNumber">Phone number: </label>
    <input
      class="form-inputs"
      type="text"
      name="phoneNumber"
      id="phoneNumber"
    />
    <button type="button" id="sub-btn">Submit</button>
    <div class="response-box">
      <span id="res"></span>
    </div>
  </form>
</div>
