<!-- Gagana Venkatesh -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="text-center">
	<div class="container my-2 text-center">
		<h1>Student Data</h1>
		<hr>
		<h3></h3>
		<div class="card " style="width: 100%;">
			<div class="card-header bg-dark text-light">
	    		Add Student
	  		</div>  <div class="card-body bg-dark">

			 <form action="#" th:action="@{/addStudent}" th:object="${student}" method="POST">
	            <input type="text" th:field="*{name}" placeholder="Student Name" class="form-control mb-4 col-12">
	
	            <input type="tel" th:field="*{contact}" placeholder="Student contact" class="form-control mb-4 col-12">
	
	            <button type="submit" class="btn btn-warning col-12"> Save Student</button>
	        </form>
	        </div>
		</div>
        <hr>
		<div>
		<!--<a style="float: right;" th:href="@{/showNewStudentForm}" class="btn btn-success btn-sm mb-3"> Add Student </a>-->
		</div>
		<table border="1" class="table table-dark table-responsive-md">
			<thead>
				<tr>
					<th>Student First Name</th>
					<th>Student contact</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${listStudents}">
					<td th:text="${student.name}"></td>
					<td th:text="${student.contact}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>