<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
</head>
<body>
<form action="/bmi-calc" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight">
    <label for="height">Height:</label>
    <input type="number" name="height" id="height">
    <button type="submit">Submit</button>
</form>
<label for="bmi">Calculated BMI</label>
<p id="bmi" th:text="${calculatedBmi}"></p>
</body>
</html>