<!DOCTYPE html>
<html>

<head>
	<title>User List</title>
</head>
	<link rel="stylesheet" type="text/css" href="styles.css">

<body>
	<h1>User List</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Action</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}">ID</td>
			<td th:text="${user.name}">Name</td>
			<td th:text="${user.email}">Email</td>
			<td th:text="${user.phoneNumber}">Phone Number</td>
			<td>
				<a th:href="'/edit/' + ${user.id}">Edit</a> |
				<a th:href="'/delete/' + ${user.id}">Delete</a>
			</td>
		</tr>
	</table>
	<a href="/add">Add User</a>
</body>

</html>

<!-- Author: Achraf Boudabous created: 28/10/2023 -->
