<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--  Name : Shyam Joshi -->
<!--  Date : 7/11/2023 -->
 <!-- Matriculation number 1482098 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to City Info</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .container {
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to City Info</h1>
        <p>You can search details of any country by entering <code>/find/countryname</code> where <em>country name</em> can be the name of any country.</p>
    </div>
</body>
</html>
