body {
    margin:40px;
  }
  
  .header {
      text-align: center;
  }
  
  input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }
  
  .in {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
  }
  
  .user-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .user-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
  }
  
  .user-table th,
  .user-table td {
      padding: 12px 15px;
  }
  
  .user-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
  .user-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  .user-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  
  .user-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
  }